/* Specify font for entire body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* Removing bullet points from navigation links */
ul {
    list-style-type: none;
}
/* Removing link color from navigation */
a {
    text-decoration: none;
}
/* Styling first hero section */
.first-container {
    background-color: #1f2937;
    
}

/* Styling main and secondary hero text */
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
/* Styling secondary hero and link text */
.hero-secondary, a {
    font-size: 18px;
    color: #e5e7eb;
}

/* Styling logo */
.logo img {
    width: 160px;
}