/* Specify font for entire body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* Removing bullet points from navigation links */
ul {
    list-style-type: none;
}
/* Removing link color from navigation */
a {
    text-decoration: none;
}
/* Styling first hero section */
.first-container {
    background-color: #1f2937;
    
}
/* Styling main and hero text */
.hero {
    inline-size: 800px;
}

/* Styling main hero text */
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
/* Styling secondary hero and link text */
.hero-secondary, a {
    font-size: 18px;
    color: #e5e7eb;
}

/* Styling logo */
.logo img {
    width: 160px;
    margin-left: 100px;
    padding-top: 8px;
}

/* Styling links */
.links {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    margin-right: 100px;
    gap: 100px;
    padding: 8px;

}

/* Styling gif */
.gif {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    margin-right: 60px;
    
    
}