/* Specify font for entire body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* Removing bullet points from navigation links */
ul {
    list-style-type: none;
}
/* Removing link color from navigation */
a {
    text-decoration: none;
}
/* Styling first hero section */
.first-container {
    background-image: url('https://media.giphy.com/media/9rdskbAcMjFyRfMkOa/giphy-downsized-large.gif');
    background-size: 100%;
    height: 703px;
    
    
}
/* Styling main and hero text */
.hero {
    inline-size: 700px;
    text-align: center;
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 600px;
    
}

/* Styling main hero text */
.hero-main {
    font-size: 48px;
    text-shadow: 2px 2px #33cc33;
    font-weight: bolder;
    color: #f9faf8;
    

}
/* Styling secondary hero and link text */
.hero-secondary, a {
    font-size: 18px;
    color: #e5e7eb;
}

/* Styling logo */
.logo img {
    width: 160px;
    margin-left: 100px;
    padding-top: 8px;
}

/* Styling links */
.links {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    margin-right: 100px;
    gap: 100px;
    font-weight: bold;
    padding: 8px;
    

}

/* Styling button */
button {
    font-size: 15px;
    padding: 10px 10px;
    border: 1px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(45deg,#b5b2b1, #404040);
}
/* adding hover effect to button */
/* button:hover {
    background-color: red;
    color: white;
    transition-duration: 0.5s;
} */